#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
      <br>
      <a href="https://beian.miit.gov.cn"  style="color:#ffffff" target="_blank">浙ICP备2024065193号-1</a>
      span.footer-separator |
      span= ' '
      <img src = "/img/备案图标.png"  height="20" width="20" >
      <a href="https://beian.mps.gov.cn/#/query/webSearch?code=33019202002421" rel="noreferrer" target="_blank">浙公网安备33019202002421</a>
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
